/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* And Design Customize Start */

.ant-btn-primary {
  @apply text-textColorWhite bg-primaryColor hover:bg-primaryColorHover border-primaryColor hover:border-primaryColorHover !important;
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-center::after {
  border-top: 2px solid !important;
  @apply border-primaryColor text-center !important;
}

.ant-message-custom-content {
  @apply inline-flex items-center;
}

.ant-popover-title {
  @apply bg-backgroundColorBlack;
}

.ant-image-preview-img {
  margin: auto !important;
}

/* And Design Customize End */

/* Dashboard Page Style Start */

.site-layout .site-layout-background {
  @apply bg-backgroundColorWhite !important;
}

/* Dashboard Page Style End */
